---
import { Picture, getImage } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import { YouTube } from 'astro-embed';

interface Props extends HTMLAttributes<'image'> {
	image: any;
	videoLink?: string;
	alt: string;
}

const { image, videoLink, alt, ...attrs } = Astro.props;
const optimizedImage = await getImage({
	src: image
});

const baseTags = `border-secondary-1000/10 bg-primary-300 focus:border-secondary-1000/80
		box-border aspect-video h-auto max-h-full translate-z-0 transform-none
		cursor-pointer overflow-hidden border-2 transition duration-500 ease-out
		backface-hidden motion-reduce:transition-none rounded-md
		hover:border-secondary-1000/80 hover:opacity-100 hover:scale-[1.02]
		motion-reduce:hover:transform-none focus:opacity-100 focus:scale-[1.02]
		focus:border-secondary-1000/80 motion-reduce:focus:transform-none`;
---
{videoLink &&
<div class={baseTags}>
	 <YouTube id={videoLink} />
</div>

 } {
	!videoLink &&
	<a
		target="_blank"
		href={optimizedImage.src}
		data-pswp-src={optimizedImage.src}
		data-pswp-width={optimizedImage.attributes.width}
		data-pswp-height={optimizedImage.attributes.height}
		class={baseTags + " pswp-gallery__item"}
		class:list={attrs.class ?? undefined}
		{...attrs}>
			<Picture
				class=`md:brightness-90 hover:brightness-100 backface-hidden h-full w-full scale-110 hover:scale-[1.0] transition ease-out duration-500 object-cover`
				src={image}
				alt={alt}
			/>
	</a>

	}

