---
import { Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
	class?: string;
	id?: string;
	image: any;
}

const { optionalClass, image, id } = {
	optionalClass: Astro.props.class,
	image: Astro.props.image,
	id: Astro.props.id
};
---

<lightbox-provider
	data-message={id}
	class:list={[
		`border-secondary-1000/10 aspect-video h-auto grow overflow-hidden rounded-lg border-2 duration-500 ease-out md:rounded-2xl` +
			' bg-primary-300 transition hover:scale-[1.02]' +
			' hover:border-secondary-1000/80 motion-reduce:transition-none' +
			' transform-none backface-hidden hover:opacity-100 focus:opacity-100' +
			` box-border translate-z-0 cursor-pointer motion-reduce:hover:transform-none md:opacity-60`,
		optionalClass ?? ''
	]}
	id={id}
	data-message={id}>
	<a
		data-pswp-src={image.src}
		data-pswp-width={image.width}
		data-pswp-height={image.height}
		target="_blank">
		<Picture
			class=`md:brightness-90 hover:brightness-100 backface-hidden h-full w-full scale-110 hover:scale-[1.0] transition ease-out duration-500 object-cover`
			src={image}
			alt=""
		/>
	</a>
</lightbox-provider>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	import 'photoswipe/style.css';

	class LightboxData extends HTMLElement {
		constructor() {
			super();
		}
		connectedCallback() {
			let lightbox: PhotoSwipeLightbox;

			document.addEventListener('astro:page-load', () => {
				lightbox = new PhotoSwipeLightbox({
					gallery: '#' + this.dataset.message,
					children: 'a',
					showHideAnimationType: 'fade',
					pswpModule: () => import('photoswipe')
				});

				lightbox.init();
			});

			document.addEventListener('astro:before-swap', () => {
				lightbox.destroy();
			});
		}
	}

	customElements.define('lightbox-provider', LightboxData);
</script>
