---
import TextPair from '@components/text/TextPair.astro';
import { Picture } from 'astro:assets';
import DateTimeBlock from '@components/text/DateTimeBlock.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	project: Project;
}

const { project, ...attrs } = {
	...Astro.props,
	project: Astro.props.project
};

const data = project.getTeamData();
---

{!data.logo &&
	<TextPair heading="Team" class={(attrs.class ?? '')}>{data.name}</TextPair>
	<TextPair heading="Role" class={(attrs.class ?? '')}>{project.data.role}</TextPair>
}
{data.logo &&
	<div class="grid col-span-2 grid-cols-2 gap-4 z-1">

		<div class=`grid grid-cols-1 gap-2`>
			<TextPair heading="Position" class={(attrs.class ?? '')}>{project.data.role}</TextPair>
			<TextPair heading="Employment"><DateTimeBlock start={data.start!} end={data.end}/></TextPair>
		</div>
		{data.link &&
			<div class="h-23">
			<a href={data.link} target="_blank" rel="noreferrer" class="inline-block pointer-events-auto">
				<Picture src={data.logo} alt={data.name} class="button-opacity h-22 w-auto object-contain" />
			</a>

			</div>
		}
		{!data.link &&
			<Picture src={data.logo} alt={data.name} class="mr-4 h-12 w-12 rounded-full object-cover" />
		}
	</div>
}