---
import { Icon } from 'astro-icon/components';

interface Props {
	name: string;
	link?: string;
	title?: string;
	desc?: string;
	size?: string;
	class?: string;
}

const { name, link, title, desc } = Astro.props;

if (!name) {
	throw new Error('Icon name is required');
}

const nameLower = name.toLowerCase().replace(/\s+/g, '');
const hasLink = link && link.length > 0;
const optionalClass = Astro.props.class ?? '';

const size = Astro.props.size ?? '24';
---

{
	hasLink && (
		<a href={link} target="_blank" rel="noreferrer">
			<Icon
				class=`button-opacity ${optionalClass}`
				name={nameLower}
				title={!title ? name : title}
				desc={desc}
				size={size}
			/>
		</a>
	)
}
{
	!link && (
		<Icon
			class=`opacity-90 ${optionalClass}`
			name={nameLower}
			title={!title ? name : title}
			desc={desc}
			size={size}
		/>
	)
}
