---
import { Picture, getImage } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import { YouTube } from 'astro-embed';
import { Icon } from 'astro-icon/components';
import { experimental_AstroContainer } from 'astro/container';

interface Props extends HTMLAttributes<'image'> {
	src: any;
	alt: string;
	isVideo?: boolean;
	thumbnail?: string;
}

const { src, isVideo, alt, thumbnail, ...attrs } = Astro.props;

const optimizedImage = !isVideo ? await getImage({
	src: src,
	layout: 'constrained',
}) : null;

const thumb = !isVideo ? src : thumbnail != null ? await getImage({src: thumbnail }).then(image => image.src) : `https://img.youtube.com/vi/${src}/maxresdefault.jpg`

const baseTags = `project-media-element border-secondary-1000/10 bg-primary-300 focus:border-secondary-1000/80
		translate-z-0 transform-none
		cursor-pointer overflow-hidden border-1 transition-[opacity, scale, width, height, color, background-color, border-color, outline-color, fill, stroke, transform, translate] duration-500 ease-out
		backface-hidden motion-reduce:transition-none rounded-md
		hover:border-secondary-1000/80 hover:opacity-100 hover:transform-[scale(1.03)]
		motion-reduce:hover:transform-none focus:opacity-100 focus:transform-[scale(1.03)]
		focus:border-secondary-1000/80 motion-reduce:focus:transform-none peer/media-element`;


---

{
	isVideo && (
<!--		<div class=`${baseTags} ${attrs.class ?? ''}`>
			<YouTube class="h-full scale-110 object-cover" id={src} />
		</div>-->
	<a
		data-lg-size="1280-720"
		data-src=`https://www.youtube.com/embed/${src}?rel=0&autoplay=0`
		data-poster=`https://img.youtube.com/vi/${src}/maxresdefault.jpg`
		data-sub-html={alt}
		class=`${baseTags} ${attrs.class ?? ''}`
	>
		<img
			width="300"
			height="100"
			class=`peer img-responsive h-full w-full scale-110 object-cover transition duration-500 ease-out backface-hidden hover:scale-[1.0]
					hover:brightness-100 md:brightness-90`
			src={thumb}
			alt={alt}
		/>
		<Icon
			class=`opacity-60 md:opacity-50 md:group-hover/project:opacity-60 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
					transition-opacity duration-200 ease-in-out pointer-events-none peer-hover:opacity-80!`
			name="play"
			title={"Play"}
			size="30"
		/>
	</a>
	)
}
{
	!isVideo && (
		<a
			target="_blank"
			href={optimizedImage!.src}
			class=`${baseTags} pswp-gallery__item ${attrs.class ?? ''}`
			{...attrs}>
			<Picture
				class={`h-full w-full scale-110 object-cover transition duration-500 ease-out backface-hidden hover:scale-[1.0]
					hover:brightness-100 md:brightness-90`}
				src={src}
				alt={alt}
				layout="constrained"
			/>
		</a>
	)
}
