---
import Spacer from '@components/core/spacer.astro';
import Text from '@components/text/text.astro';
import { Picture } from 'astro:assets';
import ProjectTitle from '@components/project/project-title.astro';
import ProjectTeam from '@components/project/project-team.astro';
import ProjectLink from '@components/project/project-link.astro';
import ProjectTools from '@components/project/project-tools.astro';
import ProjectLanguages from '@components/project/project-languages.astro';
import ProjectContributions from '@components/project/project-contributions.astro';
import ProjectDateTags from '@components/project/project-date-tags.astro';
import HorizontalRow from '@layouts/structure/horizontal-row.astro';
import MediaElements from '@components/core/image/media-elements.astro';
import TextPair from '@components/text/text-pair.astro';
import ProjectPlatforms from '@components/project/project-platforms.astro';
interface Props {
	project: Project;
}

const { project } = {
	project: Astro.props.project
};

const projectLink = project.getProjectLink();
const hasPlatforms = project.data.platforms && project.data.platforms.length > 0;
const hasPage = projectLink != null;
const hasLinks = hasPlatforms || projectLink != null;
---

<article
	class=`relative inline-flex ${project.isProfessional() ? "min-h-175" : "min-h-145"} w-full max-w-full overflow-hidden rounded-lg break-words md:rounded-[10px] group/project`>
	<div class="pointer-events-none absolute -z-1 h-full w-full bg-black"></div>
	<Picture
		class=`pointer-events-none absolute -z-1 h-full w-full object-cover opacity-25 group-hover/project:opacity-30 scale-101 group-hover/project:scale-100 transition-all duration-500 ease-out`
		src={project.getCover()}
		alt=""
		aria-hidden="true"
	/>
	<div class=`image-background pointer-events-none absolute -z-1 h-full w-full`></div>
	<div class=`content-outer`>
		<div class=`content-inner-l`>
			<ProjectTitle project={project} />
			<Spacer />
			<ProjectDateTags project={project} class="mb-4" />
			<Text type="paragraph" class=`!mb-0 line-clamp-5 !max-w-[47ch]`>{project.data.description}</Text>

			{
				hasLinks && (
					<HorizontalRow class="mt-6">
						<ProjectPlatforms project={project} />
						{hasPage && hasPlatforms && <Spacer verticalLine />}
						{hasPage && <ProjectLink project={project}>Learn More</ProjectLink>}
					</HorizontalRow>
				)
			}
		</div>
		<div class=`gap-4 flex flex-col content-inner-r`>
			<div class=`flex flex-col grow gap-x-4 gap-y-2 p-2 pb-4`>
				<div class=`grid grid-cols-2 gap-x-4 gap-y-2 pb-4`>
					<ProjectTeam project={project} />
					<TextPair heading="Tools" type="custom"><ProjectTools project={project} /></TextPair>
					<TextPair heading="Languages" type="custom"><ProjectLanguages project={project} /></TextPair>
				</div>
				<!--<Spacer horizontalLine class="max-w-[25%]"/>-->
				<TextPair heading="Key Contributions" type="custom">
					<ProjectContributions project={project} />
				</TextPair>
			</div>

			<Spacer />

			<MediaElements
				project={project}
				class=`flex h-[160px] flex-row gap-4 transition-[opacity] duration-200 ease-out group-hover/project:opacity-100
					md:max-w-[600px] md:opacity-80`
			/>
			<!--<div class=`flex h-[150px] flex-row-reverse gap-4 md:max-w-[600px] md:opacity-90 md:hover:opacity-100 transition-[opacity] duration-200 ease-out`>
				<MediaElements project={project} class="flex h-[160px] flex-row gap-4 md:max-w-[600px] md:opacity-90 md:hover:opacity-100 transition-[opacity] duration-200 ease-out"/>
				&lt;!&ndash;<MediaElement class=`w-1/3 shrink grow hover:w-2/3 glightbox1` image={project.getImages()[1].src} alt="Cover" />&ndash;&gt;
				&lt;!&ndash;<MediaElement class=`w-1/3 shrink grow hover:w-2/3 glightbox1` image={project.getImages()[2].src} alt="Cover" />&ndash;&gt;
				&lt;!&ndash;<MediaElement class=`w-2/4 shrink grow hover:w-2/3 peer-hover/media-element:w-1/3` image={project.getImages()[0].src} alt="Cover" />&ndash;&gt;
			</div>-->
		</div>
	</div>
</article>

<!--<div class="bg-black pointer-events-none absolute -z-1 h-full w-full opacity-15"/>-->
<!--<div class="relative shrink rounded-lg md:rounded-2xl">
	<div
		class="card-spacing relative sticky inline-flex min-h-82 shrink flex-col md:flex
			md:flex-row md:flex-wrap">
		<ImageBlock
			project={project}
			class={'flex flex-1 md:max-h-[40vh] md:max-w-130 xl:min-w-auto shrink-2 grow-[0.5]'}
		/>
		<div class="flex flex-2 grow flex-col md:min-w-full xl:min-w-124">
			<DateTimeBlock
				start={project.data.dateStart}
				end={project.data.dateEnd}
			/>
			<Spacer />
			<Text type="heading" class="mb-2">{project.data.title}</Text>
			<Text type="paragraph" class="line-clamp-6"
				>{project.data.description}</Text
			>

			<ProjectInfo project={project} class="mb-8 flex gap-8 md:hidden" />

			<div class="mb-3 flex flex-row gap-x-2">
				<Tag>Tech Designer</Tag>
				<Tag>Professional</Tag>
			</div>
			<div class="border-fade-primary-white flex flex-row border-t pt-3">
				<Button text="Learn More" link="https://www.google.com/" />
			</div>
		</div>
	</div>
</div>-->

<!--Alt-->
<!--
<div class="hidden gap-4 md:flex md:w-3/8 md:flex-col">
	<HorizontalRow class="shrink overflow-clip mb-2">
		<ProjectTeam project={project} />
		<Spacer verticalLine />
		<ProjectLanguages project={project} />
		<Spacer verticalLine />
		<ProjectTools project={project} />
	</HorizontalRow>
	<ProjectContributions project={project} />
	<Spacer />
	<div class="grid grid-cols-3 gap-4 max-h-[170px]">
		<MediaElement class="col-span-2 row-span-2" image={project.data.images[0]} alt="Cover" />
		<MediaElement class="col-span-1" image={project.data.images[0]} alt="Cover" />
		<MediaElement class="col-span-1" image={project.data.images[0]} alt="Cover" />
	</div>
</div>-->

<!--<HorizontalRow>-->
<!--	<Spacer />-->
<!--	<ProjectTools project={project} />-->
<!--</HorizontalRow>-->
