---
import Spacer from '@components/core/Spacer.astro';
import { Picture } from 'astro:assets';
import ProjectTitle from '@components/project/project-title.astro';
import ProjectTeam from '@components/project/project-team.astro';
import ProjectTools from '@components/project/project-tools.astro';
import ProjectLanguages from '@components/project/project-languages.astro';
import ProjectContributions from '@components/project/project-contributions.astro';
import TextPair from '@components/text/TextPair.astro';
import ProjectLinks from '@components/project/routing/ProjectLinks.astro';
import MediaElement from '@components/media/MediaElement.astro';
import MediaGallery from '@components/media/MediaGallery.astro';
import DateTimeBlock from '@components/text/DateTimeBlock.astro';
import TextInlineList from '@components/text/TextInlineList.astro';
import ProjectDescription from '@components/project/ProjectDescription.astro';
interface Props {
	project: Project;
}

const { project } = {
	project: Astro.props.project
};

const ordered = project.Media.Ordered;
---

<article
	class=`relative inline-flex ${project.isProfessional() ? "min-h-175" : "min-h-145"} w-full max-w-full overflow-hidden rounded-lg break-words md:rounded-[10px] group/project`>
	<div class="pointer-events-none absolute -z-1 h-full w-full bg-black"></div>

	<Picture
		class=`pointer-events-none absolute -z-1 h-full w-full object-cover opacity-25 group-hover/project:opacity-30 scale-101 group-hover/project:scale-100 transition-discrete
transition-all duration-500 ease-out`
		src={project.getCover()}
		alt=""
		aria-hidden={true}
		priority={true}
	/>
	<div class=`image-background pointer-events-none absolute -z-1 h-full w-full`></div>
	<div class=`content-outer`>
		<div class=`content-inner-l gap-2`>
			<p class="text-tag !mt-0">
				<DateTimeBlock start={project.data.dateStart} end={project.data.dateEnd} />
			</p>
			<ProjectTitle project={project} />

			<Spacer />
			<MediaGallery class=`flex-col sm:flex-row gap-4 sm:max-w-[38ch]! sm:mr-12`>
				<div class="flex flex-col gap-4 grow h-full">
					{<MediaElement class=`flex flex-col aspect-video grow h-full` Source={ordered[0]} />}
				</div>
				<div class="flex flex-row sm:flex-col gap-4 shrink">
					{ordered.slice(1).map((media, index) => (media.ShouldHighlight(index) ? <MediaElement class=`aspect-video h-full` Source={media} width={300} height={170} /> : <MediaElement hidden Source={media} /> ))}
				</div>
			</MediaGallery>
			<ProjectDescription project={project} />
			<TextInlineList contents={project.data.tags} class="self-start !mt-2" />
		</div>
		<Spacer horizontalLine class="flex lg:hidden w-[50%] my-2"/>
		<div class=`gap-4 flex-col content-inner-r`>
			<div class=`flex flex-col grow content-inner-padding`>
				<div class=`grid grid-cols-2 gap-x-4 gap-y-2`>
					<ProjectTeam project={project} class="lg:mt-0" />
					<TextPair heading="Tools" type="custom"><ProjectTools project={project} /></TextPair>
					<TextPair heading="Languages" type="custom"><ProjectLanguages project={project} /></TextPair>
				</div>

				<TextPair heading="Key Contributions" type="custom" >
					<ProjectContributions class="mt-1" project={project} />
				</TextPair>
			</div>

			<Spacer class="hidden md:flex" />
			<ProjectLinks project={project} class="justify-end-safe flex" />
		</div>

	</div>
</article>