---
import type { CollectionEntry } from 'astro:content';
import ImageClick from '../core/image-click.comp.astro';
import Button from '../core/button.astro';
import Spacer from '../core/spacer.astro';
import Text from '../text/text.astro';
import Tag from '../core/tag.astro';
import ImageBlock from '@components/core/imageBlock.astro';
import { Picture } from 'astro:assets';
import InfoCard from '../core/infoCard.astro';
import ProjectInfo from './projectInfo.astro';
import DateTimeBlock from '../text/dateTimeBlock.astro';

interface Props {
	project: CollectionEntry<'project'>;
}

const { project } = {
	project: Astro.props.project
};
---

<article
	class="relative inline-flex min-h-82 w-full max-w-full flex-col rounded-lg break-words
		md:flex md:flex-row md:rounded-2xl">
	<Picture
		class="pointer-events-none absolute -z-1 h-full w-full object-cover opacity-15"
		src={project.data.cover}
		alt=""
		aria-hidden="true"
	/>
	<div class="image-background pointer-events-none absolute -z-1 h-full w-full">
	</div>
	<div class="relative shrink rounded-lg md:rounded-2xl">
		<div
			class="card-spacing relative sticky inline-flex min-h-82 shrink flex-col md:flex
				md:flex-row md:flex-wrap">
			<ImageBlock
				project={project}
				class={'flex flex-1 md:max-h-[40vh] md:max-w-130 xl:min-w-auto shrink-2 grow-[0.5]'}
			/>
			<div class="flex flex-2 grow flex-col md:min-w-full xl:min-w-124">
				<Text type="heading" class="mb-2">{project.data.title}</Text>
				<DateTimeBlock
					start={project.data.dateStart}
					end={project.data.dateEnd}
				/>
				<Text type="paragraph" class="mb-8 line-clamp-6"
					>{project.data.description}</Text
				>

				<ProjectInfo project={project} class="mb-8 flex gap-8 md:hidden" />

				<Spacer />
				<div class="mb-3 flex flex-row gap-x-2">
					<Tag>Tech Designer</Tag>
					<Tag>Professional</Tag>
				</div>
				<div class="border-fade-primary-white flex flex-row border-t pt-3">
					<Button text="Learn More" link="https://www.google.com/" />
				</div>
			</div>
		</div>
	</div>

	<ProjectInfo project={project} class="card-spacing hidden md:flex" />
</article>
