---
import type { CollectionEntry } from 'astro:content';
import ImageClick from '../core/image-click.comp.astro';
import Button from '../core/button.astro';
import Spacer from '../core/spacer.astro';
import Text from '../text/text.astro';
import Tag from '../core/tag.astro';
import ImageBlock from '@components/core/imageBlock.astro';
import { Picture } from 'astro:assets';
import InfoCard from '../core/infoCard.astro';
import ProjectInfo from './projectInfo.astro';
import DateTimeBlock from '../text/dateTimeBlock.astro';
import IconButton from '../core/image/icon-button.astro';
import { Icon } from 'astro-icon/components';
import TextButton from '../core/buttons/text-button.astro';
import ProjectTeam from '@components/project/project-team.astro';
import ProjectTools from '@components/project/project-tools.astro';
import ProjectContributions from '@components/project/project-contributions.astro';
import HorizontalRow from '@layouts/structure/horizontal-row.astro';
import MediaElement from '@components/core/image/media-element.astro';

interface Props {
	project: CollectionEntry<'project'>;
}

const { project } = {
	project: Astro.props.project
};

const hasPlatforms = project.data.platforms && project.data.platforms.length > 0;
const hasPage = false;
const hasLinks = hasPlatforms || hasPage;
---

<article
	class="relative inline-flex min-h-136 w-full max-w-full rounded-lg break-words
		md:rounded-[10px] overflow-hidden">
	<div class="pointer-events-none absolute -z-1 h-full w-full bg-black"></div>
	<Picture
		class="pointer-events-none absolute -z-1 h-full w-full object-cover opacity-25"
		src={project.data.cover}
		alt=""
		aria-hidden="true"
	/>
	<div class="image-background pointer-events-none absolute -z-1 h-full w-full">
	</div>
	<div class="grow flex-col px-5 py-4 md:flex md:flex-row md:px-10 md:pt-9 md:py-10">
		<div class="relative flex flex-col rounded-lg md:w-3/4 md:rounded-2xl">
			<DateTimeBlock
				start={project.data.dateStart}
				end={project.data.dateEnd}
			/>
			<Spacer />
			<Text type="heading" class="mb-4">{project.data.title}</Text>
			<Text type="paragraph" class="!mb-0 line-clamp-6 !max-w-[47ch] opacity-90"
				>{project.data.description}</Text
			>
			{
				hasLinks && (
					<HorizontalRow class="mt-4">
						{hasPlatforms && (
							<ul class="flex flex-row gap-3">
								{project.data.platforms.map((platform) => (
									<li>
										<IconButton name={platform.platform} title={platform.title} link={platform.link} />
									</li>
								))}
							</ul>

							<Spacer verticalLine/>
							<TextButton link="https://www.google.com/">
								Learn More
							</TextButton>
						)}
					</HorizontalRow>
				)
			}
		</div>
		<div class="hidden md:flex md:w-3/8 md:flex-col gap-4">
			<HorizontalRow class="shrink overflow-clip">
				<ProjectTeam project={project}/>
				<Spacer verticalLine/>
				<ProjectTools project={project}/>
			</HorizontalRow>
			<ProjectContributions project={project}/>
			<Spacer/>
			<div class="flex flex-row items-start">
				<MediaElement image={project.data.images[0]} alt="Cover"/>
				<div class="flex flex-col">
					<MediaElement image={project.data.images[0]} alt="Cover"/>
					<MediaElement image={project.data.images[0]} alt="Cover"/>
				</div>
			</div>
	<!--		<ImageBlock
				project={project}
				class={'flex flex-1 md:max-h-[40vh] md:max-w-130 xl:min-w-auto shrink-2 grow-[0.5]'}
			/>-->
		</div>
		<!--<ProjectInfo project={project} class="card-spacing hidden md:flex" />-->
	</div>
</article>

<!--<div class="bg-black pointer-events-none absolute -z-1 h-full w-full opacity-15"/>-->
<!--<div class="relative shrink rounded-lg md:rounded-2xl">
	<div
		class="card-spacing relative sticky inline-flex min-h-82 shrink flex-col md:flex
			md:flex-row md:flex-wrap">
		<ImageBlock
			project={project}
			class={'flex flex-1 md:max-h-[40vh] md:max-w-130 xl:min-w-auto shrink-2 grow-[0.5]'}
		/>
		<div class="flex flex-2 grow flex-col md:min-w-full xl:min-w-124">
			<DateTimeBlock
				start={project.data.dateStart}
				end={project.data.dateEnd}
			/>
			<Spacer />
			<Text type="heading" class="mb-2">{project.data.title}</Text>
			<Text type="paragraph" class="line-clamp-6"
				>{project.data.description}</Text
			>

			<ProjectInfo project={project} class="mb-8 flex gap-8 md:hidden" />

			<div class="mb-3 flex flex-row gap-x-2">
				<Tag>Tech Designer</Tag>
				<Tag>Professional</Tag>
			</div>
			<div class="border-fade-primary-white flex flex-row border-t pt-3">
				<Button text="Learn More" link="https://www.google.com/" />
			</div>
		</div>
	</div>
</div>-->
