---
import { allProjects } from '@/content.obtain.ts';
import { render } from 'astro:content';
import RootLayout from '@/layouts/structure/root.layout.astro';
import ProjectTitle from '@components/project/project-title.astro';
import ProjectTeam from '@components/project/project-team.astro';
import HorizontalRow from '@layouts/structure/horizontal-row.astro';
import ProjectTools from '@components/project/project-tools.astro';
import ProjectDateTags from '@components/project/project-date-tags.astro';
import IconButton from '@components/core/image/IconButton.astro';
import TextPair from '@components/text/TextPair.astro';
import ProjectLanguages from '@components/project/project-languages.astro';
import Spacer from '@components/core/Spacer.astro';
import Text from '@components/text/Text.astro';
import ProjectLink from '@components/project/project-link.astro';
import ProjectContributions from '@components/project/project-contributions.astro';
import MediaElements from '@components/core/image/media-elements.astro';
import ContentSplit from '@layouts/structure/content-split.astro';
import ProjectPlatforms from '@components/project/project-platforms.astro';
import MediaGallery from '@components/media/MediaGallery.astro';
import MediaElement from '@components/media/MediaElement.astro';

import { AllComponents } from '@mdx/components.astro';

export function getStaticPaths() {
	return allProjects
		.filter((project) => project.getProjectInternalLink() != null)
		.map((project) => ({
			params: { project: project.id },
			props: { project }
		}));
}

const { project } = Astro.props;
const { Content } = await render(project);

const videos = project.Media.Videos;
const images = project.Media.Images;
---

<RootLayout title={project.data.title}>
	<article>
		<ContentSplit>
			<div slot="left" class="flex grow flex-col xl:flex-row xl:gap-8 xl:pr-8">
				<div class="flex grow flex-col xl:max-w-[65%]">
					<ProjectTitle project={project} />
					<Spacer />
					<ProjectDateTags project={project} />
					<Text type="paragraph" class=`!mb-0 line-clamp-5 sm:max-w-[47ch]!`>{project.data.description}</Text>
					<ProjectPlatforms project={project} class="mt-6" />
				</div>
				<div class="gap-4 sm:columns-2 xl:flex xl:max-w-[190px] xl:flex-col">
					<div class="flex grow flex-col gap-x-4 gap-y-2">
						<Spacer />
						<ProjectTeam project={project} />
						<TextPair heading="Tools" type="custom"><ProjectTools project={project} /></TextPair>
						<TextPair heading="Languages" type="custom"><ProjectLanguages project={project} /></TextPair>
					</div>
				</div>
			</div>
			<Fragment slot="right">
				<MediaGallery class=`flex-col gap-4 pt-6 lg:pt-0`>
					{videos.map((video, index) => (index > 0 ? <MediaElement class=`hidden` Source={video}/> : <MediaElement class=`aspect-video` Source={video} />))}
					<div class="flex flex-row gap-4">
						{images.map((image, index) => (index > 1 ? <MediaElement class=`hidden` Source={image}/> : <MediaElement class=`aspect-video` Source={image} />))}
					</div>
				</MediaGallery>

				<!--<MediaElements project={project} class="flex h-[160px] flex-row gap-4 md:max-w-[600px] md:opacity-80 group-hover/project:opacity-100 transition-[opacity] duration-200 ease-out"/>-->
			</Fragment>
		</ContentSplit>
		<Spacer horizontalLine class="grow" />
		<ContentSplit>
			<Fragment slot="left">
				<Content
					components={{...AllComponents}}
				/>
			</Fragment>
			<Fragment slot="right"> </Fragment>
		</ContentSplit>
	</article>
</RootLayout>
