---
import HeaderElement from '../../components/header.astro';
import FooterElement from '@components/footer.astro';
import { ClientRouter } from 'astro:transitions';
import '@/styles/global.css';

interface Props {
	title?: string;
}

const title = Astro.props.title;
const pageTitle = 'Callum Stables | ' + (title ? title : 'Technical Designer');
---

<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<title>{pageTitle}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Technical Designer with 2+ years of professional experience." />

		<meta http-equiv="Content-Security-Policy" content="default-src 'self'" />

		<meta property="og:title" content={pageTitle} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.callumstables.com" />
		<meta property="og:image" content="/assets/banner.png" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:description" content="Technical Designer with 2+ years of professional experience." />

		<link rel="canonical" href="https://www.callumstables.com" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="preload" href="/fonts/SB/MSBee-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/SB/MSBee-Medium.woff2" as="font" type="font/woff2" crossorigin />

		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		{title && <meta name="subject" content={title} />}

		<meta name="theme-color" content="#131313" />
		<meta name="generator" content={Astro.generator} />
		<!--TODO: Reimplement light/dark themes-->
		<!--		<script is:inline>
			window.localStorage.setItem('theme', 'dark');
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme') !== null) {
					return localStorage.getItem('theme');
				} /*
				if (window.matchMedia('(prefers-color-scheme: light)').matches) {
					return 'light';
				}*/
				return 'light';
			})();

			if (typeof localStorage !== 'undefined') {
				window.localStorage.setItem('theme', theme);
			}

			document.documentElement.classList.toggle('dark', theme === 'dark');
			document.documentElement.setAttribute('data-theme', theme);
		</script>-->
		<ClientRouter />
	</head>

	<body>
		<div class="mx-auto max-w-[1750px] px-4">
			<HeaderElement title={title} />
			<main>
				<slot />
			</main>
		</div>
		<FooterElement />
	</body>
</html>
